doctype html(lang='ru')
head
	meta(charset='UTF-8')
	title test
	link(href='/css/reset.css', rel='stylesheet')
	link(href='/css/style.css', rel='stylesheet')
	link(href='/css/calc.css', rel='stylesheet')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/calc.js')
body
	.container
		.calc-bl.col-md-4.col-md-offset-4
			.calculation
				.form-group
					label(for="growth").control-label Введите свой рост
					input(type="text",name="growth",value="0").form-control
				.form-group
					label(for="weight").control-label Введите свой вес
					input(type="text",name="weight",value="0").form-control
				button(type="submit",name="submit") Рассчитать