doctype html(lang='ru')
head
	meta(charset='UTF-8')
	title test
	link(href='/css/reset.css', rel='stylesheet')
	link(href='/css/style.css', rel='stylesheet')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='/js/bootstrap.min.js')
body
	//header
	header
		//top-header
		.top-header
			.container
				.row
					span.top-mid-bls.col-sm-4.col-xs-12
						//logo
						a(href="").logo
							|fcosro
							span.blue .ru
						//logo end
					span.top-mid-bls.center.col-sm-4.col-xs-12
						//slogab
						.slogan-bl
							img(src="../images/icons/gerb.png", alt="").sro-img
							span.for-sro-img Федеральный центр оформления СРО
						//slogan end
					span.top-mid-bls.col-sm-4.col-xs-12
						//phone bl
						.right-top 
							h2 8 (800) 775-09-93
							a.btn-orange(href="") Бесплатный звонок
							span.light Работаем по всей Росии
						//phone bl end
		//end top-header
		//mid header
		.mid-header
			.container
				//icons
				.col-xs-12
					.bl-icon.col-sm-4.col-xs-12
						a(href="").link-icon
							img(src="../images/icons/ico1-h.png", alt="")
							span 3 уровня <br>
								em надежности
					.bl-icon.col-sm-4.col-xs-12 
						a(href="").link-icon
							img(src="../images/icons/ico2-h.png", alt="")
							span Бесплатное 
								em тендерное <br>сопровождение
					.bl-icon.col-sm-4.col-xs-12
						a(href="").link-icon
							img(src="../images/icons/ico3-h.png", alt="")
							span
								em Вопрос юристу
				//end icons
				//mid-content-bl
				.mid-content-bl.col-xs-12
					.row
						//heading
						h1 Вступите в СРО на электромонтажные работы
						//heading end
						//buy now
						.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
							.row
								h2.yellow-bl Без первого взноса
								h6.yellow Для участия в акции оставьте заявку
						.two-btn-bl.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
								.row
									.col-sm-6
										a(href="").btn-white Укажите номер телефона
									.col-sm-6
										a(href="").btn-orange.btn-orange_light Жду звонка
						//buy now end
				//mid-content-bl end
		//mid header end
	//header end