@import "../bootstrap/less/bootstrap.less";
body {
	background-color: #0e646f;
}
.calc-bl {
	height: 100%;
}
.calculation {
	height: 250px;
    position: absolute;
    top: 50%;
    padding: 30px;
    border-radius: 10px;
    margin-top: -125px;
    width: 100%;
    color: #0c6673;
    background: #fff;
    border: 3px solid #10555e;
    button {
    	background: #0c6673;
	    color: #fff;
	    height: 35px;
	    font-size: 18px;
	    border: 1px solid #0c6673;
	    border-radius: 5px;
    }
    input {
    	border: 1px solid #0c6673;
    }
}