@import "../bootstrap/less/bootstrap.less";
@font-face {
    font-family: 'AvenirNextW1GDemi';
    src: url('/fonts/AvenirNextW1GDemi.eot');
    src: url('/fonts/AvenirNextW1GDemi.eot') format('embedded-opentype'),
         url('/fonts/AvenirNextW1GDemi.woff2') format('woff2'),
         url('/fonts/AvenirNextW1GDemi.woff') format('woff'),
         url('/fonts/AvenirNextW1GDemi.ttf') format('truetype'),
         url('/fonts/AvenirNextW1GDemi.svg#AvenirNextW1GDemi') format('svg');
}
@font-face {
    font-family: 'AvenirNextW1GLight';
    src: url('fonts/AvenirNextW1GLight.eot');
    src: url('fonts/AvenirNextW1GLight.eot') format('embedded-opentype'),
         url('fonts/AvenirNextW1GLight.woff2') format('woff2'),
         url('fonts/AvenirNextW1GLight.woff') format('woff'),
         url('fonts/AvenirNextW1GLight.ttf') format('truetype'),
         url('fonts/AvenirNextW1GLight.svg#AvenirNextW1GLight') format('svg');
}

@font-face {
    font-family: 'AvenirNextW1GRegular';
    src: url('/fonts/AvenirNextW1GRegular.eot');
    src: url('/fonts/AvenirNextW1GRegular.eot') format('embedded-opentype'),
         url('/fonts/AvenirNextW1GRegular.woff2') format('woff2'),
         url('/fonts/AvenirNextW1GRegular.woff') format('woff'),
         url('/fonts/AvenirNextW1GRegular.ttf') format('truetype'),
         url('/fonts/AvenirNextW1GRegular.svg#AvenirNextW1GRegular') format('svg');
}

@font-face {
    font-family: 'AvenirNextW1GMedium';
    src: url('/fonts/AvenirNextW1GMedium.eot');
    src: url('/fonts/AvenirNextW1GMedium.eot') format('embedded-opentype'),
         url('/fonts/AvenirNextW1GMedium.woff2') format('woff2'),
         url('/fonts/AvenirNextW1GMedium.woff') format('woff'),
         url('/fonts/AvenirNextW1GMedium.ttf') format('truetype'),
         url('/fonts/AvenirNextW1GMedium.svg#AvenirNextW1GMedium') format('svg');
}
@font-face {
    font-family: 'AvenirNextW1GBold';
    src: url('/fonts/AvenirNextW1GBold.eot');
    src: url('/fonts/AvenirNextW1GBold.eot') format('embedded-opentype'),
         url('/fonts/AvenirNextW1GBold.woff2') format('woff2'),
         url('/fonts/AvenirNextW1GBold.woff') format('woff'),
         url('/fonts/AvenirNextW1GBold.ttf') format('truetype'),
         url('/fonts/AvenirNextW1GBold.svg#AvenirNextW1GBold') format('svg');
}

@white:#fff;
@blue:#0D7BD9;
@blue-dark:#004D8F;
@yellow:#F0E40C;
@gray:#292929;
@red:#FF0000;
@container-lg: 960px;

@fd:AvenirNextW1GDemi;
@fl:AvenirNextW1GLight;
@fr:AvenirNextW1GRegular;
@fm:AvenirNextW1GMedium;
@fb:AvenirNextW1GBold;
body {
	font-family: AvenirNextW1GRegular;
}
html {
	font-size: 0.8px;
}
h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 0;
}
h1 {
	font-size: 38-10rem;
}
h2 {
	font-size: 26rem;
}
h6 {
	font-size: 13rem;
}
.p-0 {
	padding: 0;
}
a:hover, a:focus {
	color: @white;
	text-decoration: none;
}
.ta-center {
	text-align: center;
}
.top-header {
	background-color: @blue;
	padding-bottom: 15px;
}
.top-mid-bls {
	float: none;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	&.center {
		text-align: center;
	}
}
.logo {
	color: @white;
	line-height:60px;
	font-size: 36rem;
	text-transform: uppercase;
	font-family: @fm;
	letter-spacing: -1px;
	.blue {
		color: @blue-dark;
		font-family: @fm;
		letter-spacing: -1px;
	}
	&:hover {
		color: @white;
		text-decoration: none;
	}
}
.slogan-bl {
	display: inline-block;
}
.for-sro-img {
	font-size: 18rem;
	color: @white;
	font-family: @fr;
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	line-height: normal;
}
.right-top {
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	h2 {
		font-family: @fb;
		color: @white;
		letter-spacing: -0.5px;
	}
	.btn-orange {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
.btn-orange {
	background: #ff9900;
	background-image: -webkit-linear-gradient(top, #ff9900, #FF4200);
	background-image: -moz-linear-gradient(top, #ff9900, #FF4200);
	background-image: -ms-linear-gradient(top, #ff9900, #FF4200);
	background-image: -o-linear-gradient(top, #ff9900, #FF4200);
	background-image: linear-gradient(to bottom, #ff9900, #FF4200);
	width: 100%;
	line-height: 32px;
	border-bottom: 3px solid #AD4703;
	display: block;
	border-radius: 7px;
	font-size: 14rem;
	font-family: @fm;
	color: @white;
	transition: all 0.4s ease-in-out;
	&:hover {
		-webkit-filter: brightness(120%);
		-moz-filter: brightness(120%);
		-ms-filter: brightness(120%);
		-o-filter: brightness(120%);
		filter: brightness(120%);
		text-decoration: none;
		color: @white;
		transition: all 0.4s ease-in-out;
	}
	&_light {
		background-image: -webkit-linear-gradient(top, #FF8F00, #FF4000);
		background-image: -moz-linear-gradient(top, #FF8F00, #FF4000);
		background-image: -ms-linear-gradient(top, #FF8F00, #FF4000);
		background-image: -o-linear-gradient(top, #FF8F00, #FF4000);
		background-image: linear-gradient(to bottom, #FF8F00, #FF4000);
		-webkit-box-shadow: 0px 0px 14px 1px rgba(255, 101, 0, 0.53);
		-moz-box-shadow: 0px 0px 14px 1px rgba(255, 101, 0, 0.53);
		box-shadow: 0px 0px 14px 1px rgba(255, 101, 0, 0.53);
		position: relative;
		display: block;
		border-radius: 5px;
		font-size: 16rem;
		line-height: 50px;
		&:after {
			content: " ";
			width: 100%;
			display: block;
			background-color: #FF6A3A;
			height: 1px;
			border-top: 1px #FF4D13 solid;
			position: absolute;
			bottom: 4px;
		}
	}
}
.btn-white {
	background-color: @white;
	line-height: 50px;
	border-radius: 5px;
	display: block;
	font-size: 14rem;
	color: @gray;
	&:hover {
		color: @gray;
		text-decoration: underline;
	}
}
.yellow-bl {
	background-color: @yellow;
	color: @red;
	font-family: @fr;
	line-height: 50px;
	border-radius: 5px;
}
&.yellow {
	color: @yellow;
}
.light {
	font-size: 12rem;
	color: @white;
}
.two-btn-bl {
	margin-top: 15px;
	padding: 0;
	a {
		margin-top: 15px;
	}
}
.mid-header {
	background-image: url(../images/bg1.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-bottom: 50px;
	padding-top: 20px;
}
.link-icon {
	display: block;
	text-align: center;
	margin-bottom: 30px;
	img {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		transition: all 0.5s ease-out;
	}
	span {
		margin-top: 10px;
		display: block;
		text-align: center;
		font-size: 16rem;
		font-family: @fm;
		color: @white;
		transition: all 0.5s ease-out;
		em {
			font-size: 18rem;
			font-family: @fb;
		}
	}
	&:hover {
		text-decoration: none;
		img {
			-webkit-filter: grayscale(0%);
			-moz-filter: grayscale(0%);
			-ms-filter: grayscale(0%);
			-o-filter: grayscale(0%);
			filter: grayscale(0%);
			transition: all 0.5s ease-out;
		}
		span {
			text-decoration: underline;
			color: @yellow;
			transition: all 0.5s ease-out;
		}
	}
	
}
.mid-content-bl {
	text-align: center;
	h1 {
		font-family: @fb;
		color: @white;
	}
	h2 {
		margin-top: 22px;
	}
	h6 {
		margin-top: 10px;
	}
}
@media (max-width:280px) {
	h1 {
		font-size: 24rem;
	}
}
@media (min-width: @screen-sm-min) {
    html {
 		font-size: 0.9px;
 	}
 	h1 {
 		font-size: 38rem;
 	}
 	.top-header {
		height: 110px;
	}
	.logo {
		line-height: 110px;
	}
	.top-mid-bls {
		text-align: left;
	}
	.right-top {
		float: right;
	}
	.mid-header {
		padding-top: 80px;
		height: 630px;
	}
	.mid-content-bl {
		margin-top: 67px;
	}
	.two-btn-bl {
		margin-top: 35px;
		a {
			margin-top: 0;
		}
	}
	.for-sro-img {
		margin-left: 15px;
	}
}
@media (min-width: @screen-md-min) {
	html {
 		font-size: 1px;
 	}
}
@media (min-width: @screen-lg-min) {
 
}
